@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(normalize.css);

body {
	font-family: 'Roboto Slab', serif;
	background:#FAFAFA;
}

hr {
	height:0px;
	border:0;
	border-top:1px solid #EFEFEF;
}

button {
	background:#FFF;
	border:1px solid #CCC;
	border-radius:6px;
}

.container {
	margin:auto;
	width:700px;
}

.lead {
	font-size:18px;
}

.text-center { text-align:center; }
.text-left { text-align:left; }
.text-right { text-align:right; }

.paint-container {
}

.tools {
	border-top:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
	background:#444;
	padding:10px;
}

.tools-subset {
	border-left:1px solid #fafafa;
	display:inline-block;
	margin:0px 0px 0px 10px;
	padding:0px 0px 0px 10px;
}

.tools-size, .tools-colour {
	display:inline-block;
	width:150px;
	margin:0px 10px;
}

.tools-colour {
	background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 16%, #00ff00 33%, #00ffff 50%, #0000ff 66%, #ff00ff 83%, #ff0000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0000), color-stop(16%,#ffff00), color-stop(33%,#00ff00), color-stop(50%,#00ffff), color-stop(66%,#0000ff), color-stop(83%,#ff00ff), color-stop(100%,#ff0000));
	background: -webkit-linear-gradient(left, #ff0000 0%,#ffff00 16%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
	background: linear-gradient(to right, #ff0000 0%,#ffff00 16%,#00ff00 33%,#00ffff 50%,#0000ff 66%,#ff00ff 83%,#ff0000 100%);
}

#tools-colour-ref {
	display:none;
}
